h1,h2,h3, ul{
	font-family: sans-serif;
	
}

h1{
	color: red;
	font-weight: 800;
	font-size: 14px
}

h2{
	color:yellow;
	font-weight: 700;
	font-size: 16px

}

h3{
	color:red;
	font-weight: 400;
	font-size: 15px

}
p,ul,span{
	color: ;
	font-weight: 300;
	font-size: 12px;
	line-height: 24px
}

a{
	color: red;
	text-decoration: none;
}
a.hover{
	text-decoration: underline;
}
a.active{
	color: red
}.visited{
	color:maroon;
}
